html,body,header,ul,li,img,p,h1,h2,h4,nav,div,a,section,button{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    
    
}
body{
    
        background: #858587e0;;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    background-color: white;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    font-size: 18px;
    text-align: center;
}
span{
    display: block;
}
.ProductDetails li{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
    border: solid #0c0c0c 2px;
    border-radius: 10px;
    background-color: #101010fc;
    color: white;

}
.itensDeCompra{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.itensDeCompra li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid gray 2px;
    border-radius: 10px;
    background-color: #8080801f;

}
section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid gray 2px;
    border-radius: 10px;
    background-color: #8080801f;
}
section button{
    display: flex;
    align-items: center;
    padding: 10px 188px;
    border: solid transparent 2px;
    border-radius: 10px;
    background-color: #129d30f7;
    
}
section button:hover{
    background-color: #129d30d3;
    cursor: pointer;
    
    
}